%h1 #{@club.short_name} Registrations

%table
  %tr
    %th Name
    %th Division
    %th Payment Method
    %th Date
    %th ID
    %th Birthdate
    %th Address
    %th City
    %th Phone
    %th Email
  - divisions = Array.new(@club.divisions.count,0)
  - @registrations.each do |r|
    - divisions[r.division.id.to_i - 1] = divisions[r.division.id.to_i - 1] + 1
    %tr
      %td= "#{r.player.person.first_name} #{r.player.person.last_name}"
      %td= r.division.name
      %td= r.payment_method
      %td= r.created_at
      %td= r.id
      %td= r.player.birthdate
      %td= r.player.person.address
      %td= r.player.person.city
      %td= r.player.person.phone
      %td= r.parent_guardian1.email
      
%hr
- total = 0
- for i in 0..(divisions.size - 1)
  - d = @club.divisions.where(:id => (i + 1)).first
  = d.name
  = ":"
  = divisions[i]
  %br/
  - total += divisions[i]
Total: 
= total