%h1 #{@club.short_name} Registrations

%p= link_to("CSV File", regreport_csv_path(@club.subdomain))

%table
  %tr
    %th ID
    %th Name
    %th Division
    -#%th Date
    %th Age
    %th Player Token
    -# %th Address
    -# %th City
    -# %th Phone
    -# %th Email
    %th Actions
  - divisions = Array.new(@club.divisions.count,0)
  - @registrations.each do |r|
    - next if r.player.blank? || r.division.blank?
    - divisions[r.division.id.to_i - 1] = divisions[r.division.id.to_i - 1] + 1
    -# emails = []
    -# r.registrations_people.each do |p|
      -# emails.push p.person.email unless p.person.email.nil?
      -# emails.push p.person.alt_email unless p.person.alt_email.nil?
    %tr
      %td= r.id
      %td= "#{r.player.person.first_name} #{r.player.person.last_name}"
      %td= r.division.name
      %td= (2012 - r.player.birthdate.year)
      %td= r.created_at.to_s(:short)
      %td= r.player.person.street1
      %td= r.player.person.city
      %td= r.player.person.phone
      %td= emails.uniq.join(', ')
      %td
        = link_to("Delete", delete_reg_path(@club.subdomain, :reg => r.id), :confirm => "Are you sure you want to permanently delete this registration? (ID: #{r.id}, Name: #{r.player.person.first_name} #{r.player.person.last_name})")
        -# %br/
        -# %nobr= link_to("Tax Receipt", tax_receipt_path(@club.subdomain, :reg => r.id))
      
%hr
- total = 0
- for i in 0..(divisions.size - 1)
  - d = @club.divisions.where(:id => (i + 1)).first
  = d.name
  = ":"
  = divisions[i]
  = link_to(" Mailing List Addresses", mail_list_path(@club.subdomain, :division => d.id))
  %br/
  - total += divisions[i]
Total: 
= total